<header>
  <div id="banner">
    <img src="../assets/banner.jpg" alt="Banner">
  </div>
  <nav>
    <a routerLink="home"
       routerLinkActive="active"
       [innerHTML]="getSelectorHTML('home')">
    </a>
    <a routerLink="info"
       routerLinkActive="active"
      [innerHTML]="getSelectorHTML('info')">
    </a>
    <a routerLink="game"
       routerLinkActive="active"
       [innerHTML]="getSelectorHTML('game')">
    </a>
    <a routerLink="profile"
       routerLinkActive="active"
       [innerHTML]="getSelectorHTML('profile')">
    </a>
    <a routerLink="settings"
       routerLinkActive="active"
       [innerHTML]="getSelectorHTML('settings')">
    </a>
  </nav>
</header>
