<header>
  <div id="banner">
    <img src="../assets/banner.jpg" alt="Banner">
  </div>
  <nav>
    <a routerLink="home"
       routerLinkActive="active">
      <span class="selector">HOME</span>
    </a>
    <a routerLink="info"
       routerLinkActive="active">
      <span class="selector">INFO</span>
    </a>
    <a routerLink="game"
       routerLinkActive="active"
       id="focus">
      <span class="selector">GAME</span>
    </a>
    <a routerLink="profile"
       routerLinkActive="active">
      <span class="selector">PROFILE</span>
    </a>
    <a routerLink="settings"
       routerLinkActive="active">
      <span class="selector">SETTINGS</span>
    </a>
  </nav>
</header>
