header {
  color: white;
  border: 5px solid;
}

#banner {
  border-bottom: 5px solid;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

a {
  width: 100%;
  border-left: 3px solid;
  border-right: 3px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}

a:first-child {
  border-left: none;
}

a:last-child {
  border-right: none;
}

.selector {
  font-size: 2em;
}

/* TODO: Finalize style of selectors */
a:hover > .selector {
  color: yellow;
}

.active > .selector {
  color: yellow;
}

#focus {
  padding: 0;
  font-size: 2em;
  line-height: 1.2;
}
