.wrapper {
  display: flex;
  flex-direction: column;
}

footer {
  height: 3rem;
  width: calc(100% - 20px);
  margin: 10px;
  background-color: black;
}

p {
  color: white;
  text-align: center;
  font-size: 2rem;
}
