<div class="footer-wrapper">

  <div *ngIf="!terminalMode" class="optional-container"></div>
  <div *ngIf="!terminalMode" class="credits-container">
    <footer>
      <p>[made by bhuinda]</p>
    </footer>
  </div>

  <div *ngIf="terminalMode" class="terminal-container" (click)="focusInput()">
    <div class="terminal">
      <form [formGroup]="commandForm" (ngSubmit)="onSubmit()">
        <label for="command">[<span id="user-and-domain">{{ this.user ? this.user.displayName : 'anonymous' }}</span>@mafia4web ~] $</label>
        <input #commandInput
               id="command"
               formControlName="command"
               type="text"
               autocomplete="off"
               spellcheck="false"
               [placeholder]="placeholderText">
      </form>
    </div>
  </div>

</div>
