footer {
  margin: 10px;
  display: flex;
  width: 100wh;
  height: calc(10vh - 20px);
  background-color: black;
  justify-content: center;
}

p {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 30px;
}
