* {
  font-family: 'VT323';
}

.credits-container {
  display: none;
  color: white;
  border: 5px solid;
  /* border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid; */
}

.terminal-container {
  padding: 1rem;
  display: flex;
  color: white;
  border: 5px solid;
}

.terminal > form > label,
.terminal > form > input {
  font-size: 1.5em;
}

#command {
  background: transparent;
  border: none;
  outline: none;
  caret-color: lime;
  color: lime;
}

footer {
  width: 100%;
  background-color: black;
}

p {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .credits-container {
    display: none;
  }
}
