@use '../../../assets/styles/app.scss' as *;

main {
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
}

p, span {
  font-size: 3rem;
}

.setting-container {
  display: flex;
  align-items: center;
}

.setting-label {
  color: yellow;
  white-space: nowrap;
}

.setting-button {
  height: 5rem;
  color: yellow;
  background-color: black;
  border: 5px solid;
  font-size: 3rem;

  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.toggle-box {
  color: $color-secondary;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-right: 5px solid;
  width: 5rem;
  height: 5rem;
  display: block;
}

.toggled-on {
  background-color: green;
}

.toggled-off {
  background-color: maroon;
}
