@use '../../../assets/styles/app.scss' as *;

.row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;

  }
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
}

p, span {
  font-size: 2rem;
}

.setting-container {
  display: flex;
  align-items: center;
}

.setting-label {
  color: yellow;
  white-space: nowrap;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.setting-button {
  height: 4rem;
  color: yellow;
  background-color: black;
  border: 5px solid;
  font-size: 2rem;

  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.toggle-box {
  color: $color-secondary;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-right: 5px solid;
  width: 4rem;
  height: 4rem;
  display: block;
}

.toggled-on {
  background-color: green;
}

.toggled-off {
  background-color: maroon;
}

.apply-button {
  margin-top: 1rem;
  height: 4rem;
  color: yellow;
  background-color: black;
  border: 5px solid;
  font-size: 2rem;

  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  width: 200px;

  label {
    color: $color-secondary;
    text-align: center;
    font-size: 2rem;

    // Temp solution to add spacing between labels
    &.add-spacing {
      margin-top: 1rem;
    }
  }

  input[type="range"] {
    border: 4px solid;
    color: $color-secondary;
    -webkit-appearance: none;
    appearance: none;
    padding: 1rem 0;
    background-color: black;
    width: 200px;

    &::-webkit-slider-runnable-track {
      height: 0.5rem;
      background: none;
      border: none;
    }

    // Style the thumb
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 4rem;
      width: 2rem;
      border-radius: 0;
      background: green;
      margin-top: -1rem;
    }
  }

  &:hover {
    opacity: 1;
  }
}
