.footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

.terminal-container {
  flex: 0 0 auto;
  width: 100%;
  color: white;
  border-top: 0px solid;
  border-left: 4px solid;
  border-right: 4px solid;
  border-bottom: 4px solid;
}

footer {
  width: 100%;
  background-color: black;

  p, span {
    text-align: center;
    font-size: 2rem;
  }
}
