@if (!settings['firstTime']) {
  <header [ngClass]="{'dropdown': dropdownActive}">

      <button (click)="enableDropdown()">⬇⬇⬇</button>
      <dropdown [visible]="dropdownActive" (closed)="dropdownActive = false"/>
      <nav>

        <a routerLink="home" routerLinkActive="active" draggable="false">
          <div class="selector">
            [<span class="highlight">HOME</span>]
          </div>
        </a>

        <a routerLink="info" routerLinkActive="active" draggable="false">
          <div class="selector">
            [<span class="highlight">INFO</span>]
          </div>
        </a>

        <a routerLink="game" routerLinkActive="active" draggable="false">
          <div class="selector">
            [<span class="highlight">GAME</span>]
          </div>
        </a>

        <a routerLink="profile" routerLinkActive="active" draggable="false">
          <div class="selector">
            [<span class="highlight">PROFILE</span>]
          </div>
        </a>

        <a routerLink="settings" routerLinkActive="active" draggable="false">
          <div class="selector">
            [<span class="highlight">SETTINGS</span>]
          </div>
        </a>

      </nav>

  </header>
}
