@mixin links {
  flex: 1;
  width: 100%;
  border-left: 5px solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;

  &:first-child {
    border-left: none;
  }

  &:hover > .selector {
    color: yellow;
  }

  &.active > .selector > .highlight {
    color: yellow;
  }

  &:not(.active):hover > .selector > .highlight {
    color: white;
  }
}

header {
  color: white;
  border: 5px solid;

  @media (max-width: 768px) {
    border: none;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;

  @media (max-width: 768px) {
    display: none;
  }

  & a {
    @include links;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    color: white;
    border-bottom: 5px solid;
  }
}

.selector,
.selector span {
  font-size: 3rem;

  @media (max-width: 1200px) {
    font-size: 2rem;
  }

  @media (max-width: 900px) {
    font-size: 1.5rem;
  }
}

#hamburger-dropdown {
  display: none;
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99;

  @media (max-width: 768px) {
    display: block;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    & div {
      width: 2rem;
      height: 0.25rem;
      background: yellow;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }
  }

  .dropdown-menu {
    border: 3px solid;
    display: none;
    flex-direction: column;
    background-color: white;
    width: 200px;

    & a {
      @include links;
      border: none;
    }
  }

  &:hover .dropdown-menu {
    display: flex;
  }
}

// #banner {
//   display: none;
//   border-bottom: 5px solid;

//   & img {
//     width: 100%;
//     height: 15vh;
//   }
// }

// .profile-container {
//   display: none;
//   flex: 2;
//   padding: 0.5rem;
//   border-left: 3px solid;
//   background-color: black;
// }

// .signed-in {
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   background-color: black;
//   color: white;
//   font-size: 1rem;
// }

// .info-container {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
// }

// .icon-container {
//   display: flex;
//   flex-direction: row;
//   flex: 1;
//   justify-content: flex-end;
//   align-items: center;
// }

// #profile-icon {
//   height: 100%;
//   margin-left: 70%;
//   /* background-image: url('../../assets/images/pfp.png'); */
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: right;
//   border: none;
// }

// #profile-level {
//   flex: 1;
//   display: flex;
//   flex-direction: row;
//   white-space: nowrap;
//   align-items: center;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// #experience-level {
//   padding-right: 1rem;
// }

// #experience-bar {
//   width: 100%;
//   height: 0.5rem;
//   background-color: #ddd;
// }

// #experience-progress {
//   width: 40%; /* Change this to represent the actual progress */
//   height: inherit;
//   background-color: #4caf50;
// }
