header {
  color: white;
  border: 5px solid;
  /* border-top: 5px solid;
  border-left: 5px solid;
  border-right: 5px solid; */
}

#banner {
  display: none;
  border-bottom: 5px solid;
}

#banner img {
  width: 100%;
  height: 15vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

a {
  flex: 1;
  width: 100%;
  border-left: 5px solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}

a:first-child {
  border-left: none;
}

.profile-container {
  display: none;
  flex: 2;
  padding: 0.5rem;
  border-left: 3px solid;
  background-color: black;
}

.signed-in {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 1rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

#profile-icon {
  height: 100%;
  margin-left: 70%;
  /* background-image: url('../../assets/images/pfp.png'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border: none;
}

#profile-level {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

#experience-level {
  padding-right: 1rem;
}

#experience-bar {
  width: 100%;
  height: 0.5rem;
  background-color: #ddd;
}

#experience-progress {
  width: 40%; /* Change this to represent the actual progress */
  height: inherit;
  background-color: #4caf50;
}

/*** [innerHTML] Styling ***/

:host ::ng-deep .selector,
:host ::ng-deep .selector span {
  font-size: 3rem;
}

/* Active selector text highlighted */
:host ::ng-deep .active > .selector > .highlight {
  color: yellow;
}

/* Selector brackets turn yellow on hover */
:host ::ng-deep a:hover > .selector {
  color: yellow;
}

:host ::ng-deep a:not(.active):hover > .selector > .highlight {
  color: white;
}

@media screen and (max-width: 1200px) {
  :host ::ng-deep .selector,
  :host ::ng-deep .selector span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }

  /* TODO: Add menu icon for navigation for screens 768px and under. */
}

/* Hamburger icon */

#hamburger-dropdown {
  display: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    color: white;
    border-bottom: 5px solid;
  }
  /* #hamburger-dropdown {
    z-index: 0;
    display: block;
    margin: 1rem;
    font-size: 10rem;
    cursor: pointer;
  }

  #hamburger-dropdown:hover .hamburger {
    z-index: 0;
    display: block;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
  } */
}
