<section>

@if (formSubmitted) {
  <div id="form-validations-container">

    <h1>Validations</h1>
    <ol>
    @for (error of formErrors; track $index) {
      <li class="error" [ngClass]="{'resolved': !form.controls[error.control].invalid}">
        {{ error.message }}
      </li>
    }
    </ol>

  @if (signInFailed) {
    <div id="auth-failed">
      <p>{{signInError.header.toUpperCase()}}: {{signInError.message}}</p>
    </div>
  }
  </div>
}

  <form id="form-container" [formGroup]="form" (ngSubmit)="onSubmit(form.value.email, form.value.password)">
    <div class="email">
      <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div class="password">
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <button type="submit">SIGN IN</button>
  </form>

</section>
