<section>

@if (formSubmitted) {
  <div id="validation-container">
    Validation
    <ol>
      @for (error of formErrors; track $index) {
        <li class="error" [ngClass]="{'resolved': !form.controls[error.control].invalid}">
          {{ error.message }}
        </li>
      }
    </ol>
  </div>
}

  <form id="form-container" [formGroup]="form" (ngSubmit)="onSubmit(form.value.email, form.value.password)">
    <div class="email">
      <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div class="password">
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <button type="submit">SIGN IN</button>
  </form>

</section>
