main {
  height: 100%;
  flex: 1;
}

.box {
  color: yellow;
  border: 3px dashed;
}

.row {
  display: flex;
  flex-direction: row;
}

.config {
  flex: 1;
}

.start {
  flex: 1;
  width: 2em;
  height: 2em;
  padding: 10px;
  background-color: lime;
  line-height: 1em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}

.start:hover {
  background-color: gray;
}

.column {
  flex: 1;
}
