main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box {
  color: yellow;
  border: 3px dashed;
}

.row {
  display: flex;
  flex-direction: row;
}

.box .row {
  padding: 10px; /* adjust as needed */
}

.row .column {
  flex: 1;
}

.config {
  flex: 1;
}

.start {
  flex: 0.2;
  width: 2em;
  height: 2em;
  padding: 10px;
  background-color: lime;
  line-height: 1em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}

.start:hover {
  background-color: gray;
}
