main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  color: white;
  border-left: 5px solid;
  border-right: 5px solid;
}

.button-container {
  padding-top: 1rem;
}

.button-container > button {
  background: none;
  border: none;
  color: yellow;
  font-size: 1.5rem;
}

.button-container > button:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
}

.logout button {
  font-size: 10rem;
  color: white;
  background-color: black;
  border: 5px solid;
  padding: 2rem;
  width: 100%;
}
.logout button:hover {
  color: yellow;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
}
