.box {
  color: yellow;
  border: 3px dashed;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
}

.roles {
  margin-right: 1rem;
  padding: 0.5rem;
  flex: 0 1 auto;
}

span {
  display: block;
}

.alignment.town {
  background-color: green;
  color: white;
}

.town {
  color: green;
}

.alignment.mafia {
  background-color: red;
  color: white;
}

.mafia {
  color: red;
}

.info {
  padding: 1rem;
}

h1 {
  line-height: 1;
  font-size: 3rem;
}

p, span {
  font-size: 1.5rem;
}
