<section>

  <div class="roles column">
    <span class="town alignment">TOWN</span>
    <span class="town">Citizen</span>
    <span class="mafia alignment">MAFIA</span>
    <span class="mafia">Mafioso</span>
  </div>

  <div class="info column">
    <p id="name" class="town">Citizen</p>
    <p id="alignment"><span class="tag">ALIGNMENT</span> Town</p>
    <p id="faction"><span class="tag">FACTION</span> Town</p>
    <p id="type"><span class="tag">TYPE</span> Government</p>
    <p id="traits"><span class="tag">TRAITS</span> Tiebreaker</p>
    <p id="ability"><span class="tag">ABILITY</span> Equip (1) bulletproof vest.</p>
    <p id="description">The Citizen is the rank-and-file Town role in a traditional Mafia setup.</p>
  </div>

</section>
