@use '../../../assets/styles/app.scss' as *;

main {
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
}

p, span, a {
  color: #EEEEEE;
  font-size: 2rem;
  text-align: justify;
  line-height: 1.2;
}

h1 {
  color: $color-secondary;
  font-size: 3rem;
  font-weight: normal;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-1, .row-2 {
  display: flex;

  * {
    flex: 1;
  }
}

.row-1 {
  margin-bottom: 2rem;
}

#welcome, #news {
  margin-right: 1rem;
}

#overview {
  margin-left: 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
    }
  }
}

#lobby-finder {
  p {
    color: #EEEEEE
    ;
    text-align: left;
  }

  .container {
    padding: 30px;
  }
}

#overview,
#global-chat {
  .container {
    padding: 30px;
  }
}

#global-chat {
  p {
    text-align: left;
  }
}

.login-prompt {
  text-align: center;
}

.row-2 {
  .row {
    align-self: flex-start;
    display: flex;
    margin-left: 1rem;
    color: $color-secondary;
    border: 3px dashed;

    div {
      width: 100%;
    }
  }
}

.chat-box {
  display: none;
  color: #EEEEEE;
  padding: 1rem;
  padding-bottom: 165%;
  border: 2px solid;

  p {
    color: $color-secondary;
  }
}

@media screen and (max-width: 1200px) {
  p, span, a {
    text-align: left;
  }

  .row-2 {
    .row {
      align-self: flex-start;
    }
  }
}
