main {
  height: 100%;
  padding: 2rem;
  color: white;
  border-left: 5px solid;
  border-right: 5px solid;
  overflow-y: auto;
}

/* two rows, one column */

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: yellow;
  border: 3px dashed;
}

.row-1,
.row-2 {
  display: flex;
  flex: 1;
  color: lime;
  border: 3px dashed;
}

.column {
  border: 3px dashed;
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  main {
    border: 5px solid;
  }
}
