@use '../../../../../assets/styles/app.scss' as *;

.terminalOutputWrapper {
  height: 150px;
  overflow-y: scroll;
}

.terminal-output {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  position: relative;
  min-height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.messages {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1;
}

/* Message formatting */
#timestamp {
  font-size: 1rem;
  color: #ccc;
}

#username {
  font-size: 1.5rem;
  color: $color-secondary;
}

#text {
  font-size: 1.5rem;
  margin-left: 0px;
}
