@use '../../../../../assets/styles/app.scss' as *;

.terminal-output-wrapper {
  height: 200px;
  overflow-y: scroll;
}

.terminal-output {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.spacer {
  flex-grow: 1;
}

.messages {
  padding: 0;
  line-height: 1;
}

/* Message formatting */
#timestamp {
  font-size: 1rem;
  color: #ccc;
}

#username {
  font-size: 1.5rem;
  color: $color-secondary;
}

#text {
  font-size: 1.5rem;
  margin-left: 0px;
}
