<main>

  <p>{{ rerouteError }}</p>

  @if (auth.status$ | async) {

    <div class="sign-out">
      <button (click)="onLogout()">Logout :(</button>
    </div>

  }

  @else {

    <div class="form-container">
      @if (authMode === 'login') { <app-login/> }
      @if (authMode === 'register') { <app-register/> }
    </div>

    <div class="button-container">
      @if (authMode === 'login') { <button (click)="switchAuthMode('register')"></button> }
      @if (authMode === 'register') { <button (click)="switchAuthMode('login')"></button> }
    </div>

  }

</main>
