@use '../../../assets/styles/app.scss' as *;

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 2rem;
  color: white;

  p, button {
    display: block;
    // @include no-highlight;
  }
}

section {
  overflow-y: auto;
}

.welcome-cursive {
  // position: absolute;
  // left: 50%;
  // top: 9%;
  // transform: translate(-50%, -50%);

  display: inline;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 6px;
  font-family: 'Cursive';
}

.welcome-regular {
  // position: absolute;
  // left: 50%;
  // top: 15%;
  // transform: translate(-50%, -50%);

  display: inline;
  font-size: 5rem;
  line-height: 0.8;
  font-family: 'Regular';
  color: $color-primary;
}

.button-container {
  padding-top: 1rem;

  button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: yellow;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
}

.sign-out button {
  font-size: 10rem;
  color: white;
  background-color: black;
  border: 5px solid;
  padding: 2rem;
  width: 100%;

  &:hover {
    color: yellow;
    cursor: pointer;
  }
}
