<main [ngClass]="{'first-time-border': settings['firstTime']}">

  @if (cancelledRoute) {
    <div class="error-container">
      UNAUTHORIZED ACCESS TO {{ cancelledRoute.toUpperCase() }}. SIGN IN?
    </div>
  }

  @if (auth.status$ | async) {
    <div class="sign-out">
      <button (click)="onLogout()">Logout :(</button>
    </div>
  }

  @else {
    <section>

    @if (settings['firstTime']) {
      <p class="welcome-cursive">Welcome to</p>
    }

      <p class="welcome-regular">MAFIA4WEB</p>

      <div class="form-container">
        @if (authMode === 'login') { <app-login/> }
        @if (authMode === 'register') { <app-register/> }
      </div>

      <div class="button-container">
        @if (authMode === 'login') { <button (click)="switchAuthMode('register')">SIGN UP?</button> }
        @if (authMode === 'register') { <button (click)="switchAuthMode('login')">SIGN IN?</button> }
        @if (settings['firstTime']) {
          <button class="welcome-button" (click)="disableFirstTime()">ENTER AS GUEST</button>
        }
      </div>

    </section>
  }

</main>
