p, span {
  font-size: 1.5rem;
}

.terminal {
  padding: 0.5rem;
}

.terminal form {
  display: flex;
}

.terminal > form > input {
  flex: 1;
}

.terminal > form > input,
.terminal > form > label {
  font-size: 1.5rem;
}

#user-and-domain {
  color: yellow;
}

#command {
  padding-left: 0.8rem;
  background: transparent;
  border: none;
  outline: none;
  caret-color: lime;
  color: lime;
  font-size: 1.4rem;
}
