<section>

  <div *ngIf="formSubmitted" id="validation-container">
    <h1>Validation</h1>
      <ul>

        <li class="warning" *ngIf="form.controls.email.invalid">* Email must be valid.</li>
        <li class="warning resolved" *ngIf="!form.controls.email.invalid">* Valid email required.</li>

        <li class="warning" *ngIf="form.controls.password.invalid">* Password must be at least 6 characters long.</li>
        <li class="warning resolved" *ngIf="!form.controls.password.invalid">* Password must be at least 6 characters long.</li>

        <li class="warning" *ngIf="loginFailed">* Login attempt failed; email/password is incorrect.</li>

      </ul>
    </div>

  <form id="form-container" [formGroup]="form" (ngSubmit)="onSubmit(form.value.email, form.value.password)">
    <div class="email">
      <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div class="password">
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <button type="submit">LOGIN</button>
  </form>

</section>
