@use '../../../../assets/styles/app.scss' as *;

p, span {
  font-size: 1.5rem;
}

.terminal-button {
  all: unset;
}

.terminal {
  display: flex;
  padding: 0.5rem;

  form {
    display: flex;

    input,
    label {
      font-size: 1.5rem;
    }

    input {
      flex: 1;
    }
  }
}

#user-and-domain {
  color: $color-secondary;
}

#input {
  padding-left: 0.8rem;
  background: transparent;
  border: none;
  outline: none;
  caret-color: $color-secondary;
  color: $color-secondary;
  font-size: 1.4rem;
}
