@if (expandedTerminal) {
  <app-chat></app-chat>
}

<div class="terminal" (click)="focusInput()">

  <button id="terminal-button" (click)="toggleExpandedTerminal()">^</button>

  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">

    <label for="input">
      <!-- Abhorrent. Unholy. Sacreligious. -->
      [<span id="user-and-domain">
        @if (user$ | async){{{(user$ | async).username}}}
      </span>&#64;mafia4web ~] $
    </label>
    <input #inputContainer
           id="input"
           formControlName="input"
           type="text"
           autocomplete="off"
           spellcheck="false">

  </form>

</div>
