@use '../../../../assets/styles/app.scss' as *;

p, span {
  font-size: 1.5rem;
}

#terminal-button {
  all: unset;
  width: 2rem;
  cursor: pointer;
  background-color: white;
  margin-right: 0.3rem;

  &:hover {
    background-color: $color-secondary;
  }
}

.terminal {
  display: flex;
  padding: 0.5rem;

  form {
    display: flex;
    width: 100%;

    label {
      font-size: 1.5rem;
    }
  }
}

#user-and-domain {
  color: $color-secondary;
}

#input {
  flex: 1;
  width: 100%;
  padding-left: 0.8rem;
  background: transparent;
  border: none;
  outline: none;
  caret-color: $color-secondary;
  color: white;
  font-size: 1.4rem;
}
