@use '../../../../assets/styles/app.scss' as *;

p, span {
  font-size: 1.5rem;
}

.terminal {
  padding: 0.5rem;

  form {
    display: flex;

    input,
    label {
      font-size: 1.5rem;
    }

    input {
      flex: 1;
    }
  }
}

#user-and-domain {
  color: $color-primary;
}

#command {
  padding-left: 0.8rem;
  background: transparent;
  border: none;
  outline: none;
  caret-color: $color-tertiary;
  color: $color-tertiary;
  font-size: 1.4rem;
}
