@use 'assets/styles/variables.scss';

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* My CSS */

@font-face {
  font-family: 'Regular';
  src: url('assets/fonts/vt323/VT323-Regular.ttf');
}

@font-face {
  font-family: 'Cursive';
  src: url('assets/fonts/pixelscript/pf-pixelscript-pro.ttf');
}

* {
  font-size: 16px;
  font-family: 'Regular';
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

// APP BACKGROUND
body {
  background-image: url('assets/images/rose.png');
  background-position: -90px -20px;
  background-size: 270px;
  background-repeat: repeat;
  /* Later on: make custom background with smaller, non-repeating patterns? */
}

/*** Scrollbar styling ***/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-track-piece {
  /* border-left: 5px solid; */
  background: black;
}

::-webkit-scrollbar-thumb {
  /* border-left: 5px solid; */
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
