@mixin links {
  flex: 1;
  width: 100%;
  border-left: 5px solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;

  &:first-child {
    border-left: none;
  }

  &:hover > .selector {
    color: yellow;
  }

  &.active > .selector > .highlight {
    color: yellow;
  }

  &:not(.active):hover > .selector > .highlight {
    color: white;
  }
}
