main {
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  color: white;
  border-left: 5px solid;
  border-right: 5px solid;
}

p, span, a {
  font-size: 2rem;
  text-align: justify;
  line-height: 1.2;
}

h1 {
  color: yellow;
  font-size: 3rem;
  font-weight: normal;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
}

/* .row-divider {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
}

.row-divider hr {
  background-color: white;
  height: 5px;
} */

.row-1, .row-2 {
  display: flex;
}

.row-1 > *,
.row-2 > * {
  flex: 1;
}

.row-1 {
  margin-bottom: 2rem;
}

#welcome, #news {
  margin-right: 1rem;
}

#overview {
  margin-left: 1rem;
  color: yellow;
  border: 3px dashed;
}

#lobby-finder p {
  color: white;
}

#overview .container,
#lobby-finder .container,
#global-chat .container {
  padding: 30px;
}

.login-prompt {
  text-align: center;
}

.row-2 .row {
  align-self: flex-start;
  display: flex;
  margin-left: 1rem;
  color: yellow;
  border: 3px dashed;
}

.row-2 .row > div {
  width: 100%;
}

#lobby-finder p, #global-chat p {
  text-align: left;
}

.chat-box {
  display: none;
  color: white;
  padding: 1rem;
  padding-bottom: 165%;
  border: 2px solid;
}

.chat-box p {
  color: yellow;
}

@media screen and (max-width: 1200px) {
  p, span, a {
    text-align: left;
  }

  .row-2 .row {
    align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  main {
    border: 5px solid;
  }
}
