@use '../../../assets/styles/app.scss' as *;

/* Making main a flexbox works for making content flex properly, BUT */
/* The subcomponents, when overflowed, are not recognized by main */
main {
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
}

nav {
  display: flex;
  margin-bottom: 1rem;
}

a {
  width: 100%;
  margin-left: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background-color: gray;
  }
}

.box {
  color: $color-secondary;
  border: 3px solid;
}

.active {
  color: lime;
}

#prompt {
  font-size: 5rem;
  text-align: center;
  color: white;
}

.content {
  flex: 1;
  color: $color-secondary;
  border: 3px dashed;
  padding: 1rem;
  /* Future fix needed for consistency; height is only approximate */
}

.content-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}

/* Add media query to compensate for incompatibility
between "display: flex" and "overflow-y: auto" on <main>? */
