<main>

  <nav>
    <a routerLink="gameplay"
       routerLinkActive="active"
       class="box">Gameplay</a>
    <a routerLink="mechanics"
       routerLinkActive="active"
       class="box">Mechanics</a>
    <a routerLink="roles"
       routerLinkActive="active"
       class="box">Roles</a>
    <a routerLink="/info"
       class="box title">BACK</a>
  </nav>

  <div class="content-wrapper">
    <div class="content">
      <router-outlet
      (activate)="onActivate()"
      (deactivate)="onDeactivate()">
      </router-outlet>
      <p id="prompt" *ngIf="!isComponentActive">Please select a category.</p>
    </div>
  </div>

</main>
